ChallengeResponseAuthentication no
PrintMotd no
Subsystem sftp /usr/lib/openssh/sftp-server
PermitTunnel yes

Match User root
    PubkeyAuthentication yes
    PasswordAuthentication no
    MaxSessions 1

Match Group dyrektor_DBB,dyrektor_DBD Address 172.29.224.1
    PasswordAuthentication no
    PubkeyAuthentication yes

Match Group dyrektor_DBB,dyrektor_DBD Address *
    PasswordAuthentication no
    PubkeyAuthentication no

Match Group DBB,DBD
    PasswordAuthentication no
    PubkeyAuthentication yes
